<mat-nav-list class="sidebar__list styleside">
  <div class="sidebar-brand">
    <img src="" alt="" width="255px" height="290px" />
  </div>
  <div class="titles">
    <a class="link" mat-list-item routerLinkActive="active" routerLink="/inicio"
      ><mat-icon class="link__icon">home</mat-icon
      ><span class="link__text">Inicio</span></a
    >
    <a class="link" mat-list-item routerLinkActive="active" routerLink="/perfil"
      ><mat-icon class="link__icon">person</mat-icon
      ><span class="link__text">Perfil</span></a
    >
    <a
      class="link"
      mat-list-item
      routerLinkActive="active"
      routerLink="proyectos"
      ><mat-icon class="link__icon">inventory_2</mat-icon
      ><span class="link__text">Mis Proyectos</span></a
    >
    <a
      class="link"
      mat-list-item
      routerLinkActive="active"
      routerLink="/certificados"
      ><mat-icon class="link__icon">school</mat-icon
      ><span class="link__text">Certificados</span></a
    >
  </div>
</mat-nav-list>
