.header {
  display: flex;
  justify-content: flex-end;
  padding: 3rem !important;
  //height: 5vh;
  background-color: $color-primary-white;
  &__logo-box {
    background: salmon;
    position: absolute;
    top: 4rem;
    left: 4rem;
  }
  &__logo {
    background: salmon;
    height: 3.5rem;
  }
  &__text-box {
    background: salmon;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
